extends ../layout

block content
  if user.isTeacher
    .page-header
      h3 Groups You Teach
      .form-horizontal
        .form-group
          if groupsTeaching.length !== 0
            ul
              each group in groupsTeaching
                li
                  a(href=`group/${group._id}`)= group.name
          else
            p You do not currently teach any groups. :(
          a(href='/group/create').btn.btn-primary
            i.fa.fa-users
            | Create a Group

  .page-header
    h3= user.isTeacher ? 'Groups You Follow' : 'Groups' 
    .form-horizontal
      .form-group
        if groupsLearning.length !== 0
          ul
            each group in groupsLearning
              li
                a(href=`group/${group._id}`)= group.name
        else
          p You are not currently in any groups. :(
