extends ../layout

block content
  if user.isTeacher
    .page-header
      h3 Groups you Teach
      .form-horizontal
        .form-group
          ul
            each group in groupsTeaching
              li= group.name
            else
              li You do not currently teach any groups. :(
          .col-sm-offset-3.col-sm-4
            a(href='/group/create').btn.btn-primary
              i.fa.fa-users
              | Create a Group

  .page-header
    h3 #{user.isTeacher ? 'Groups You Follow' : 'Groups'}

