footer
  .container.text-center
    p.pull-left © 2017 Vocab Quiz 
    ul.pull-right.list-inline
      li
        a(href='https://github.com/JingYenLoh/buildathon-2017') GitHub Page
      li
        a(href='https://github.com/JingYenLoh/buildathon-2017/issues') Issues
