extends layout

block content
  .page-header

    h1 About 
      strong 
        em Vocab App

  div
    p(class='pageContent') Vocab app is an app that aims to helps lower achieving secondary school students to build their vocabulary in a fun and engaging way!

  .page-header

    h1(class='secondHeader') About 
      strong
        em Us

  div
    p(class='pageContent') We are a group of friends who have come up with a sustainable and customisable tool to aid teachers in the classroom.