extends layout

block content
  h1 Vocab App
  p.lead.pageContent A context-based learning app intuitive for students, and customisable for teachers.
  hr
  .row.text-center.secondHeader
    .col-sm-12
      h2 QUIZ THYSELF
      p Button for the quiz...?
      p
        a.btn.btn-primary(href='#', role='button') 
          i.fa.fa-lock
          |  View details »

    .col-sm-6
      h2 Teacher/Customisation
      p Button for teacher to assess quiz customisation functionality?
      p
        a.btn.btn-primary(href='#', role='button') 
          i.fa.fa-lock
          |  View details »

    .col-sm-6
      h2 Scores/Metrics
      p Some stats for self directed learning???
      p
        a.btn.btn-primary(href='#', role='button') 
          i.fa.fa-lock
          |  View details »

