extends layout

block content
  h1.fuss 
    em 
      strong Vocab App
  p.lead.pageContent A context-based learning app intuitive for students, and customisable for teachers.
  .container
    hr
    .row.text-center.secondHeader
      .col-sm-12
        h2 QUIZ THYSELF
        p.lead Click to go to the quiz
        p
          a.btn.btn-primary(href='#', role='button') 
            i.fa.fa-clone
            |  Quiz »

      .col-sm-6
        h2 Teacher/Customisation
        p.lead Customise the functionality of the quiz!
        p
          a.btn.btn-primary(href='/quiz/create', role='button') 
            i.fa.fa-cogs
            |  Customise »

      .col-sm-6
        h2 Stats/Metrics
        p.lead Stats and metrics for self-directed learning
        p
          a.btn.btn-primary(href='#', role='button') 
            i.fa.fa-hand-paper-o
            |  Stats

