extends layout

block content

    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script.

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Word');
        data.addColumn('number', 'Incorrect Answer');
        data.addColumn('number', 'First Attempts');
        data.addRows([
          ['myriad', 9, 1],
          ['hibernate', 6, 3],
          ['enunciate', 5, 6],
          ['hustle', 5, 8],
          ['intrinsic', 5, 9],
          ['silence', 6, 10],
        ]);

        var chart = new google.visualization.PieChart(document.getElementById('mistakes'));
        chart.draw(data, {
            'title':'Mistakes made by Students',
            'width':800,
            'height':600
        });

        var chart = new
        google.visualization.BarChart(document.getElementById('bar'));
        chart.draw(data, {
            'title':'Mistakes made by Students',
            'width':800,
            'height':600
        });

      }

    #mistakes
    #bar

