/*h3, h1 {
	text-align: center;
}
.fuss{
	padding-top: 2%;
}

.pageContent{
	padding-top: 20px;
	text-align: center;
	margin: inherit;
}

.secondHeader{
	padding-top: 8%;
}
.radio{
	display: inline;
}
.groupContent{
	padding: 20px 0;
}

ul {
	padding-left: 0;
	list-style-type: none;
	margin: inherit;
	padding-bottom: 10px;
}

.form-group {
	text-align: center;
	padding: 20px 0;
<<<<<<< HEA}*/

.jumbotron{
	padding: 10px 0;
}
img{
	max-width: 25%;
	max-height: 25%;
}
.mascot{
	float:left;
}
.navbar-default{
	background-color: #11A3ED;
}
.btn-primary{
	background-color: #81CB29;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color: white;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: white;
}