extends ../layout

block content
  .page-header
    h3 Create a Quiz
    form.form-horizontal(action='/quiz/create', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='name') Name
        .col-sm-7
          input.form-control(type='text', name='name', id='name')
      .form-group
        .col-sm-offset-3.col-sm-4
          button.btn.btn-primary(type='submit')
            | Next 
            i.fa.fa-arrow-right
